--
-- Script generated by Schema Compare for Oracle 4.0.10.528 on 28/08/2018 12:23:39
--
SET DEFINE OFF

CREATE TABLE bug.target (
  "ID" NUMBER(38) GENERATED BY DEFAULT AS IDENTITY,
  deleted_on_utc DATE
);

CREATE INDEX bug.idx_target ON bug.target(bug."FUN_IS_DELETED"("DELETED_ON_UTC"));

CREATE OR REPLACE function bug.fun_is_deleted(PID_TIME date)
  return char deterministic is
  begin
    if PID_TIME is null
    then
      return 'N';
    else
      return 'Y';
    end if;
  end;
/

